.row.toprow
  .six.columns.centered
    .panel.callout.radius
      %h5 
        %center
          #{link_to 'Login with Github', '/auth/github'}
      %p This project was created as part of Coshx Labs&apos; Hack2012.08, a 48-hour hackathon.
