.row.toprow
  .four.columns.centered
    .panel.callout.radius
      %h5 Log In to use this site
      %p In order to create hackathons and participate in events that you have been invited to, you must log in with github.
