.row.awards
  .six.columns
    %fieldset
      %legend Award List
      %ul
        - @hackathon.awards.each do |award|
          %li.award
            =link_to award.name, "##{award.id}"

  .six.columns
    %fieldset
      %legend Award Description
      %ul
        - @hackathon.awards.each do |award|
          %li.award-details{:id => award.id}
            %h5.subheader #{award.name}
            %strong Description
            %p= award.description
            %strong Prize
            %p= award.prize
