.row.awards
  .six.columns
    %fieldset
      %legend Award List
      .award
        =link_to 'Creativity', '#'
        %span.reviewed.has-tip{:title => 'Nominated to Project 1'} ✓
      .award
        =link_to 'Notable Teamwork', '#'

  .six.columns
    %fieldset
      %legend Award Description
      %h5.subheader Creativity
      %p
        This is for a team that comes up with something truly original. It could be a new spin on an existing idea, or something completely out of left field. It's important to keep our creative juices flowing and to find inspiration everywhere. :)