.row.projects
  .six.columns
    %fieldset
      %legend Project List
      %ul
        = render :partial => 'project_link', :collection => @projects
        
  .six.columns.details
    %fieldset
      %legend Project Details
      %ul
        = render :partial => 'project', :collection => @projects

%script(type="text/javascript")
  = render :partial => "hackathons/projects.js"
