- if project.hackathon.judging_ends_at < Time.current
  %strong All Reviews:
  - project.reviews.each do |review|
    %blockquote
      = review.comments.html_safe
      %footer= "&mdash;".html_safe + review.judge.github_name.html_safe
- elsif project.hackathon.is_judge?(current_user)
  .review-form
    =form_for (review = my_review_for_project(project)) do |f|
      =f.text_area :comments, :rows => "5", :placeholder => 'Type to add judging comments here!', :value => review.comments
      =f.hidden_field :project_id, :value => project.id
      =f.hidden_field :id, :value => review.id
      .actions
        %center= f.submit 'Submit Review', :class => 'success button'
