.row.projects
  .six.columns
    %fieldset
      %legend Project List
      .project
        =link_to 'Project 1', '#'
        %span.reviewed.has-tip{:title => 'Reviewed'} ✓
      .project
        =link_to 'Project 2', '#'

  .six.columns.details
    %fieldset
      %legend Project Details
      %h5.subheader
        =link_to 'Project 1', '#'
      %p
        %strong Abstract:
        Project 1 is so awesome...
      %p
        %strong User Notes:
        Please pick me as a winner. You know my project rocks your world!

      .small.button.split.dropdown
        =link_to 'Nominate for Award', '#'
        %span
        %ul
          %li= link_to 'Creativity', '#'
          %li= link_to 'Notable Teamwork', '#'

      %p
        %form
          %textarea{:rows => "5"}
            Type to add judging comments here!
      %p
        %center= link_to 'Mark as Reviewed', '#', :class => 'success button'
