function refreshNominations() {
  $.get('/nominations', {hackathon_id: "<%= @hackathon.id.to_s %>"}, function(data) {
    $('.awarded').remove();
    $.each(data, function(award_id) {
      var parent = $("a[href='#" + award_id +"']").parent();
      $.each(data[award_id], function(idx, project_name) {
        $(parent).append('<span class="awarded has-tip" title="Nominated ' + project_name + '">&#x2713;</span>');
      });
    });
  });
}

$(function() {
  $(".project-details").hide();
  $(".project-details:first").show();
  $(".projects li:first").addClass('active');

  $(".project").click(function() {
    var detailsDiv = $(this).find('a:first').attr("href");
    $(".project-details").hide();
    $(detailsDiv).show();
    $(".project.active").removeClass('active');
    $(this).addClass('active');
    return false;
  });

  $(document).on('click', 'li.nominate', function(e) {
    var award_name = $(this).text();
    var project_id = $(".project.active").find('a').attr('href');
    project_id = project_id.replace('#', '');
    var post_data = {project_id : project_id, award_name : award_name}
    $.post("<%= nominations_path %>", post_data, function(data) {
      $("#" + project_id).find('.my-nominations')[0].innerHTML = data;
    });
    e.preventDefault();
  });

  $(document).on('click', '.my-nominations a', function(e) {
    var nomination_id = this.id;
    var project_id = $(".project.active").find('a').attr('href');
    project_id = project_id.replace('#', '');
    $.ajax({type: 'DELETE', url: "/nominations/" + nomination_id,
            data: {project_id: project_id}})
      .done(function(data) {
        $("#" + project_id).find('.my-nominations')[0].innerHTML = data;
      });
    e.preventDefault();
  });

  $('.award-details').hide();
  $('.award-details:first').show();
  $("li.award:first").addClass('active');
  $(document).on('click', '.award', function(e) {
    var detailsDiv = $(this).find('a:first').attr('href');
    $('.award-details').hide();
    $(detailsDiv).show();
    $('.award.active').removeClass('active');
    $(this).addClass('active');
    return false;
  });

  $("a[href='#awards']").on('click', function(e) {
    refreshNominations();
  });
  
  refreshNominations();
});


