%li
  .project-details{:id => project.id}
    %h5.subheader
      =project.name
      - if project.url
        =link_to '(Demo Site)', project.url, :target => '_demo'
    - if project.github_url
      %p
        %strong Source: 
        =link_to project.github_url, project.github_url, :target => "_source"
    %p
      %strong Abstract:
      =project.abstract

    .nominations
      = render :partial => 'project_nominations', :locals => {:project => project}

    .reviews
      = render :partial => 'project_reviews', :locals => {:project => project}