.row.banner
  .ten.columns
    .row
      .six.columns.end
        %h3.header.title Coshx Hackathons
  .two.columns
    - if current_user
      =link_to 'Logout', logout_path, :class => 'success button logout'
    - else
      =link_to 'Login', '/auth/github', :class => 'success button login'

